# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables and settings
.env
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and debugging
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
